body{
    background-color: aliceblue;

}
div{
    margin-bottom: 10px;
}

td{
    border: 1px solid black;
}
#btnRow{
    display: flex;
    gap: 20px;
}
#backbtn a,table a{
    color: aliceblue;
    text-decoration: none;
}
section{
    display: flex;
    column-gap: 50px;
}
section .editTable{
border: 1px solid black;
padding: 0px 10px;
background-color: rgb(182, 222, 209);
}

#backbtn{
    height: 46px;
    width: 83px;
    font-size: 21px;

}
table thead tr td{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
table tbody tr td{
    font-family: 'Prompt', sans-serif;
    font-size: 18px;
}

table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
    text-align: center;
}

